html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
  position: fixed;

  background: black;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
text,
p,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-webkit-font-smoothing: antialiased;
  font-family: "AR One Sans", sans-serif;
  font-weight: 500;
}

.dg {
  z-index: 9999 !important;
}

video {
  top: 0;
  left: 0;
  position: absolute;
}

.Main-Canvas {
  top: 0;
  left: 0;
  user-select: none;

  opacity: 1;
  transition: opacity 0.5s ease-out 0.25s;
}

#main-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.isLoading .Main-Canvas {
  opacity: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}

.isLoading .Message {
  letter-spacing: 10px;
  opacity: 1;
}
.Message {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: calc(50% - 50px);
  text-align: center;
  letter-spacing: 11px;
  color: white;

  opacity: 0;
  transition: opacity 0.5s ease-out, letter-spacing 0.5s ease-out;
}

.isLoading .Loading-Bar {
  opacity: 1;
}

.Loading-Bar {
  position: absolute;
  z-index: 998;
  width: 0%;
  height: 1px;
  top: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;

  transition: width 0.5s ease-out, opacity 0.5s ease-out;
}

.env {
  position: fixed;
  width: 100%;
  z-index: 9999;
  color: white;
  top: 100px;
  font-size: 24px;
  padding: 20px;
}

.container-button {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-xr .btnAR {
  transition: opacity 0.5s ease-in-out;
  pointer-events: auto;
  opacity: 1;
}

.xr-started .btnAR {
  opacity: 0;
}

.btnAR {
  width: 200px;
  height: 50px;
  position: fixed;
  bottom: 20vh;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 5px;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0s ease-in-out;
}

.no-webgl2 .text-no-webgl2 {
  opacity: 1;
}

.hide-messages .text-no-webgl2 {
  opacity: 0;
}

.text-no-webgl2 {
  color: white;
  font-size: 14px;
  letter-spacing: 6px;
  text-align: center;
  z-index: 99;
  position: absolute;
  top: 45%;

  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.no-xr .text-no-support {
  opacity: 1;
}

.hide-messages .text-no-support {
  opacity: 0;
}

.text-no-support {
  color: white;
  font-size: 14px;
  letter-spacing: 6px;
  text-align: center;
  z-index: 99;
  position: absolute;
  bottom: 5vh;

  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

@media (max-width: 615px) {
  .text-no-support {
    letter-spacing: 2px;
  }
}

.top-layer {
  z-index: 200;
}

.webcam {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 40%;
  height: 40%;
}
